<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion Detection</title>
    <script>
        function uploadAndAnalyze() {
            var formData = new FormData();
            var imageFile = document.getElementById("fileInput").files[0];
            formData.append("file", imageFile);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").textContent = "Detected Emotion: " + data.emotion;
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("uploadedImage").src = e.target.result;
                };
                reader.readAsDataURL(imageFile);
            })
            .catch(error => console.error('Error:', error));
            
            return false; // Prevent page refresh
        }
    </script>
</head>
<body>
    <h1>Upload an Image for Emotion Detection</h1>
    <form onsubmit="return uploadAndAnalyze()">
        <input type="file" id="fileInput" name="file" required>
        <input type="submit" value="Upload and Analyze">
    </form>
    <h2>Result</h2>
    <p id="result"></p>
    <h2>Uploaded Image</h2>
    <img id="uploadedImage" style="max-width: 500px;"/>
</body>
</html>
