<!DOCTYPE html>
<html>
<head>
    <title>Facial Expression Recognition</title>
</head>
<body>
    <h1>Facial Expression Recognition</h1>
    
    <h2>Upload Image</h2>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Predict">
    </form>
    
    <h2>Webcam Analysis</h2>
    <form action="/webcam" method="get">
        <input type="submit" value="Start Webcam Analysis">
    </form>
    
</body>
</html>